In [1]:
#Unique Words in a Sentence
sen = set(input().split())
print("Unique words count:", len(sen))
print("Unique words:", sen)

 python is easy and python is fun

Unique words count: 5
Unique words: {'is', 'python', 'easy', 'fun', 'and'}

In [5]:
#Highest Salary from Employee Data
n = int(input("enter number of employees: "))
employees = {}
for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter employee salary: "))
    employees[name] = salary
hsal = 0
for key, value in employees.items():
    if hsal < value:
        hname = key
        hsal = value
print("Highest Salary:",hname,'-',hsal)

enter number of employees:  3
Enter employee name:  Ravi
Enter employee salary:  75000
Enter employee name:  Anita
Enter employee salary:  63000
Enter employee name:  Kiran
Enter employee salary:  72000

Highest Salary: Ravi - 75000

In [6]:
# Find Maximum and Minimum Values
numbers = list(map(int, input().split()))
maxm = 0
minm = float('inf')
for i in numbers:
    if maxm < i:
        maxm = i
    if minm > i:
        minm = i
print("list:", numbers)
print("max:", maxm)
print("min:", minm)

 45 22 89 35 10 67

list: [45, 22, 89, 35, 10, 67]
max: 89
min: 10

In [8]:
# count Products Above a Price Threshold
prices = list(map(int, input().split()))
c = 0
for i in prices:
    if i > 1000:
        c += 1
print("Products above 1000:", c)

 499 200 1200 345 1500 786

Products above 1000: 2

In [11]:
# Calculate Attendance Percentage
attendance = list(input().split())
c = 0
for i in attendance:
    if i == 'P':
        c += 1
print("Attendance percentage:", (c/len(attendance))*100)

 P P A P P

Attendance percentage: 80.0

In [12]:
# Remove Duplicate Phone Numbers
phone_numbers = set(map(int, input().split()))
print("Unique phone numbers:", phone_numbers)

 9876543210 9123456789 9876543210

Unique phone numbers: {9876543210, 9123456789}

In [13]:
# Count Character Frequency
s = input()
d = {}
for i in s:
    if i != ' ':
        if i in d.keys():
            d[i] += 1
        else:
            d[i] = 1
print(d)

 python is easy

{'p': 1, 'y': 2, 't': 1, 'h': 1, 'o': 1, 'n': 1, 'i': 1, 's': 2, 'e': 1, 'a': 1}

In [14]:
# Convert List to Tuple
l = list(map(int, input().split()))
print(tuple(l))

 10 20 30 40 50

(10, 20, 30, 40, 50)

In [17]:
# Check if a Key Exists in a Dictionary
sample_employees = {
    1: {"name": "Ravi", "salary": 75000}, 
    2: {"name": "Anita", "salary": 63000}, 
    3: {"name": "Kiran", "salary": 72000}
}
key = input()
for i in range(1, len(sample_employees)+1):
    if sample_employees[i]['name'] == key:
        print("Employee exists")
        break
else:
    print("Employee doesn't exist")

 Kiran

Employee exists

In [20]:
# Calculate Average Marks
marks = list(map(int, input().split()))
s = 0
for i in marks:
    s += i
print(f'{s/len(marks):.1f}')

 12 31 45 67 89 92

56.0